<app-page-header [backBtn]="true" [titre]="'Dossier Agent'"></app-page-header>

<div class="row mt-3">
  <div class="col-6 text-end ms-auto">
    <h2> Agent : <strong class="text-primary">{{ dossier.matricule }}</strong></h2>
  </div>
</div>

<ul class="nav nav-tabs mb-2">
  <li class="nav-item">
    <a (click)="changeTab(0)" [ngClass]="{'active': tabSelected === 0}" class="nav-link">
      <i class="bi bi-person"></i>
      Infomations Générales
    </a>
  </li>
  <li class="nav-item">
    <a (click)="changeTab(4)" [ngClass]="{'active': tabSelected === 4}" class="nav-link">
      <i class="bi bi-copy"></i>
      Antécédents Médicaux
    </a>
  </li>
  <li class="nav-item">
    <a (click)="changeTab(1)" [ngClass]="{'active': tabSelected === 1}" class="nav-link">
      <i class="bi bi-clipboard-check"></i>
      Consultations
    </a>
  </li>
  <li class="nav-item">
    <a (click)="changeTab(2)" [ngClass]="{'active': tabSelected === 2}" class="nav-link">
      <i class="bi bi-copy"></i>
      Ordonnances
    </a>
  </li>
  <li class="nav-item">
    <a (click)="changeTab(3)" [ngClass]="{'active': tabSelected === 3}" class="nav-link">
      <i class="bi bi-copy"></i>
      Examens
    </a>
  </li>

</ul>
@if (isLoad) {
  <div class="alert alert-info mt-3">
    Chargement...
  </div>

} @else {
  @if (tabSelected === 0) {
    <app-info-agent [dossier]="dossier"/>
  }


}


