<div class="modal-header">
  <h5 class="modal-title">Gérer un Métier</h5>
  <a (click)="close()" class="btn-close"></a>
</div>
<form (submit)="submit()" [formGroup]="metierForm" class="modal-content">
  <div class="modal-body">
    <div class="row">
      <div class="col-6 mb-3">
        <label>Libelle : </label>
        <input class="form-control" formControlName="libelle" type="text">
      </div>
      <div class="col-6 mb-3">
        <label>Famille : </label>
        <input class="form-control" formControlName="famille" type="text">
      </div>
      <div class="col-6 mb-3">
        <label>Département : </label>
        <ng-select [items]="departements" bindLabel="libelle" bindValue="id" formControlName="service_id" placeholder="Choisir un département"></ng-select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    @if (isEdit) {
      @if (isSubmit) {
        <button class="btn btn-success" disabled>Chargement...</button>
      } @else {
        <button class="btn btn-success" type="submit">Mettre à jour</button>
      }
    } @else {
      @if (isSubmit) {
        <button class="btn btn-primary" disabled>Chargement...</button>
      } @else {
        <button class="btn btn-primary" type="submit">Sauvegarder</button>
      }
    }
  </div>
</form>

