<app-page-header [backBtn]="true" [titre]="'Liste des Métiers'"></app-page-header>
<div class="row mt-3 align-items-center">
  <div class="col-md-3">
    <button (click)="add()" class="btn btn-primary">
      <i class="bi bi-plus-circle"></i>
      Nouveau métier
    </button>
  </div>
  <div class="col-md-3 ms-auto">
    <input (keyup)="searchAction()" [(ngModel)]="searchText" class="form-control search-input" placeholder="Rechercher un métier..." type="text">
  </div>
</div>

@if(isLoad){
  <div class="loading-box mt-4">
    <div class="spinner-border text-primary"></div>
    <p>Chargement des métiers...</p>
  </div>
}@else{
  <div class="row mt-4">

    @for(group of groupedMetiers; track group.service){

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">

        <div class="service-card">

          <div class="service-header">

            <div class="service-title">
              <i class="bi bi-building"></i>
              {{group.service}}
            </div>

            <span class="service-count">
            {{group.metiers.length}} métiers
          </span>

          </div>


          <div class="service-body">


            @for(metier of group.metiers; track metier.id){

              <div class="metier-card">

                <div class="metier-info">

                  <div class="metier-code">
                    {{metier.code}}
                  </div>

                  <h6>
                    {{metier.libelle}}
                  </h6>

                  <p>
                    <i class="bi bi-diagram-3"></i>
                    {{metier.famille}}
                  </p>

                </div>


                <div class="metier-actions">

                  <button
                    (click)="edit(metier)"
                    class="btn btn-sm btn-outline-primary">

                    <i class="bi bi-pencil"></i>

                  </button>


                  <button
                    class="btn btn-sm btn-outline-danger">

                    <i class="bi bi-trash"></i>

                  </button>

                </div>


              </div>

            }


          </div>


        </div>


      </div>

    }

  </div>
}
<!-- PAGINATION -->
<div class="d-flex justify-content-end mt-3">
  <app-custom-pagination (pageChange)="changePage($event)" [links]="pagination"></app-custom-pagination>
</div>
