<app-page-header [backBtn]="true" [titre]="'Liste des Départements'"></app-page-header>
<div class="row mt-3">
  <div class="col-3">
    <div class="btn-group">
      <a (click)="add()" class="btn btn-primary">Nouveau département</a>
    </div>
  </div>
  <div class="col-2 ms-auto">
    <input (keyup)="searchAction()" [(ngModel)]="searchText" class="form-control" placeholder="Recherche" type="text">
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead class="table-primary">
          <tr style="text-align: center;">
            <th scope="col">Dénomination</th>
            <th scope="col">Slug</th>
            <th scope="col">Desciption</th>
            <th class="text-end" scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
            @if (isLoad) {
              <tr>
                <td colspan="8" class="text-center">Chargement...</td>
              </tr>
            }@else {
              @for (departement  of departements; track departement .id) {
                <tr style="text-align: center;">
                  <td> {{ departement.libelle }}</td>
                  <td> {{ departement.slug }}</td>
                  <td> {{ departement.description }}</td>

                  <td class="text-end">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                      <a class="btn btn-sm btn-outline-primary">
                        <i class="bi bi-search"></i>
                      </a>
                      <a (click)="edit(departement)" class="btn btn-sm btn-outline-primary">
                        <i class="bi bi-pencil"></i>
                      </a>
                      <a class="btn btn-sm btn-outline-danger">
                        <i class="bi bi-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              }

            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-flex justify-content-end p-2">
      <app-custom-pagination (pageChange)="changePage($event)" [links]="pagination">
      </app-custom-pagination>
    </div>

  </div>
</div>
