<app-page-header [backBtn]="true" [titre]="'Liste des Agents'"></app-page-header>

<div class="row mt-3">
  <div class="col-3">
    <div class="btn-group">
      <a (click)="add()" class="btn btn-primary">Ajouter un agent</a>
    </div>
  </div>
  <div class="col-2 ms-auto">
    <input (keyup)="searchAction()" class="form-control" placeholder="Recherche" type="text">
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead class="table-primary">
          <tr style="text-align: center;">
            <th scope="col">Matricule</th>
            <th scope="col">Nom & Prénom</th>
            <th scope="col">Date de Naissance</th>
            <th scope="col">Gene</th>
            <th scope="col">Lieu Naissance</th>
            <th scope="col">Annee Embauche</th>
            <th scope="col">Type Contrat</th>
            <th class="text-end" scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
            @if (isLoad) {
              <tr>
                <td colspan="8" class="text-center">Chargement...</td>
              </tr>
            } @else {
              @for (salarie of salaries; track salarie.id) {
                <tr style="text-align: center;">
                  <td> {{ salarie.matricule }}</td>
                  <td> {{ salarie.nom }} {{ salarie.prenom }}</td>
                  <td>{{ salarie.date_naissance | date:'dd/MM/yyyy' }}</td>
                  <td>
                    @if (salarie.sexe === 'Homme') {
                      <span class="badge bg-primary">Masculin</span>
                    } @else if (salarie.sexe === 'Femme') {
                      <span class="badge bg-warning">Féminin</span>
                    }
                  </td>
                  <td> {{ salarie.lieu_naissance }}</td>
                  <td> {{ salarie.annee_embauche | date:'yyyy'}}</td>
                  <td> {{ salarie.contrat }}</td>
                  <td class="text-end">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                      <a class="btn btn-sm btn-outline-primary"
                         routerLink="/agent/detail/{{salarie.matricule}}">
                        <i class="bi bi-folder"></i>
                      </a>
                      <a (click)="edit(salarie)" class="btn btn-sm btn-outline-primary">
                        <i class="bi bi-pencil"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-flex justify-content-end p-2">
      <app-custom-pagination (pageChange)="changePage($event)" [links]="pagination">
      </app-custom-pagination>
    </div>
  </div>
</div>
